---
layout: default
---
<header>
  <h1 class="header-small">
    <a href="{{site.url}}{{site.baseurl}}">{{ site.name }}</a>
  </h1>
</header>
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </span>
  <div class="post-tag">
    <ul>
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          <span>{{ tag }}</span>
        </a>
      </li>
      {% unless forloop.last %}{% endunless %}
      {% endfor %}
    </ul>
  </div>

  {{ content }}



<div style="padding: 35px; box-shadow: -1px 0px 9px 2px #eee; margin-top: 50px;">
  <img align="left" class="about-post-image" src="https://i.imgur.com/S1AqAf9.jpg"/>
    <p  class="about-post"> Mislav Javor </p>
    I'm a software developer specialising in blockchain development on the Ethereum (EVM) platform. </br> Part of a blockchain startup looking to revolutionize the production of electricity and the head of an Ethereum smart-contract development consultancy.
    If you have a need for blockchain in your business, from planning to full implementation, contact me at: </br>
    mislav.javor@outlook.com 
</div>

<h3>
  Follow me on <a href="https://twitter.com/MislavJavor">Twitter</a>
</h3>

  <!-- Disqus -->
  {% if page.comments != false and site.disqus.id %}
  <div class="post-disqus">
      <section id="disqus_thread"></section>
      {% include disqus.html %}
  </div>
  {% endif %}

</div>
